body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
}

.chatbox{
margin-top:20px;
}

#messages{
height:200px;
overflow:auto;
background:#1e293b;
padding:10px;
}

input{
width:60%;
padding:10px;
}

button{
padding:10px;
background:#22c55e;
border:none;
color:white;
}
